<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LL Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Qura Posts</h1>
    <%     for(post of posts){   %>
        <div>
         <h2>   username:@<%=post.username %></h2>
         
          <h2>  Content:<%=post.content %></h32>
            <br>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
            <button>Delete</button>
            &nbsp;&nbsp;
            <a href="http://localhost:9089/posts/<%=post.id %>/edit"> edit </a>&nbsp;
            <a href="http://localhost:9089/posts/<%=post.id %>"> see in detail</a>
        </div><br>
        <% } %>
<h3><a href="http://localhost:9089/posts/new">new post</a></h3>
        
</body>
</html>