<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whatsapp</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form method="get" action="/chats/new">
      <button class="but">NEw CHAT</button>
    </form>
    <h1>chatbox</h1>
    <% for(let chat of chats){%>
    <div class="chat">
      <div><p>from:<%=chat.from %></p></div>
      <div class="message">
        <p>message:<%=chat.msg %></p>
        <form action="/chats/<%=chat._id%>/edit">
          <button>edit</button>
        </form>
        <form method="post" action="/chats/<%=chat._id%>?_method=delete">
            <button>delete</button>
          </form>
      </div>
      <div><p>to:<%=chat.to %></p></div>
      <div>
        <p><%=chat.created_at.toString().split(" ")[4]%></p>
        <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
      </div>
    </div>
    <% } %>
  </body>
</html>
