<% layout("/layout/boilerplate") %>
    <h3>Edit </h3>

    <div class="row">
        <div class="col-8 offset-2" mt-3>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="post">
        <div class="mb-3">
            <lable for="title" class="from-lable">Titile</lable>
            <input type="text" value="<%=listing.title%>" name="listing[title]" placeholder="enter title"
                class="from-control" />
        </div>

        <div class="mb-3">

            <lable for="description" class="from-lable">Description</lable>
            <textarea name="listing[description]" cols="30"
                rows="10"><%=listing.description%> class="from-control"></textarea>


        </div>

        <div class="mb-3">
            <lable for="image.url" class="from-lable">Image</lable>
            <input type="text" value="<%=listing.image.url %>" name="listing[image.url]" placeholder="enter url"
                class="from-control">

        </div>

        <div class="mp3">
            <lable for="price" class="from-lable">Price</lable>
            <input type="number" name="listing[price]" value="<%=listing.price %>" placeholder="enter price"
                class="from-control">

        </div>
  <div class="row">

        <div class="mb-3 col-md-4">
            <lable for="location" class="from-lable">Location</lable>
            <input type="text" value="<%=listing.location %>" name="listing[location]" placeholder="enter location"
                class="from-control">
        </div>

                
        <div class="mb-3 col-mdn-4"> 
            <lable for="country" class="from-lable">Country</lable>
            <input type="text" value="<%=listing.country %>" name="listing[country]"
                placeholder="enter country" class="from-control">
        </div>
</div>

        <button class="btn btn-dark edit-btn mb-3" type="submit">Edit</button>
</div>


    </form></div>